body{
    font-family:"Nunito";
    font-weight:600;
}


.container{
    display:flex;
    flex-direction:column;
    margin:10px;
    border:solid;
    border-color:black;
    border-radius:20px;
    background-color:whitesmoke;
    padding:10px;
}

.header{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;
    padding-top:10px;
}

.title{
    padding-top:5px;
    color:black;
    font-weight: bold;
}

.date{
    padding-top:5px;
    color:gray;
    font-weight: 600;
}

a{
    text-decoration:none;
}

button{
    background-color:transparent;
    border:none;
    font-size: large;
    font-weight:bold;
    margin-right:30px;
    color:black;
}