<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Article</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='add.css') }}">
</head>
<body>
    <div class="container">
        <div class="heading">
            <h2>New Article</h2>
        </div>
        <form action="{{ url_for('add_form') }}" method="POST">
            <input id="title" name="title" type="text" placeholder="Article Title">
            <input id="date" name="date" type="text" placeholder="Publishing Date">
            <textarea id="content" name="description" placeholder="Content"></textarea>
            <button type="submit">Publish</button>
        </form>
    </div>
</body>
</html>