<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Article</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='add.css') }}">
</head>
<body>
    <div class="container">
        <div class="heading">
            <h2>Update Article</h2>
        </div>
        <form action="{{ url_for('edit_form',id=article['id']) }}" method="POST">
            <input id="title" name="title" type="text" value="{{ article['title'] }}" placeholder="Article Title">
            <input id="date" name="date" type="text" value="{{ article['date'] }}" placeholder="Publishing Date">
            <textarea id="content" name="description" placeholder="Content">{{ article['description'] }}</textarea>
            <button type="submit">Update</button>
        </form>
    </div>
</body>
</html>